@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

body {
    color: #fff;
    font-family: Montserrat;
    background-image: linear-gradient(91deg, #3235d1, #32da4e);
    -webkit-background-image: linear-gradient(91deg, #3235d1, #32da4e);
    -moz-background-image: linear-gradient(91deg, #3235d1, #32da4e);
    -o-background-image: linear-gradient(91deg, #3235d1, #32da4e);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    margin: 10%;
}

h1 {
    margin: 20%;
}

a {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat';
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
  }
  a:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46,229,157,.4);
    color: white;
    transform: translateY(-7px);
    font-size: 12px;
  }

  a:active {
    transform: translateY(3px);
    background: #27c083;
    color: #acabab;
  }

  .word {
      transition: 0.3s;
  }
  
  #s{
      transition: 1s;
  }
  
  .word:hover {
      color: #64ff7e;
      font-size: 28px;
  }

  .word#s:hover {
    color: #64ff7e;
    font-size: 70px;
}